@import "../../styles/index.scss";

.wrapper {
  align-self: center;
  max-width: 1200px;
  margin: auto;
  flex-grow: 1;
  height: "100%";
  min-height: calc(100vh - #{$header} - #{$footer} - 20px);
}
